@model net_il_mio_fotoalbum.Models.PhotoFormModel

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex align-items-center justify-content-start">
    <div>
        <a asp-action="Index" class="btn btn-warning fw-bold me-2">Back</a>
    </div>
    <h1>New photo</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Photo.Title" class="control-label"></label>
                <input asp-for="Photo.Title" class="form-control" />
                <span asp-validation-for="Photo.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo.Description" class="control-label"></label>
                <input asp-for="Photo.Description" class="form-control" />
                <span asp-validation-for="Photo.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFormFile" class="control-label"></label>
                <input asp-for="ImageFormFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFormFile" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <span>Show this image:</span>
                <input class="form-check-input" asp-for="Photo.IsVisible" />
            </div>
            <div class="d-flex align-items-center my-2">
                <strong>Select categories:</strong>
                <select asp-for="SelectedCategoriesId"
                        multiple="multiple"
                        size="5"
                        class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                        asp-items="@Model.Categories">
                </select>
            </div>
            <div class="form-group mt-2 mb-3">
                <input type="submit" value="Create" class="btn btn-warning fw-bold" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
