<footer class="bg-warning">
    <div class="container-fluid d-flex justify-content-between align-content-center">
        <div class="contacts-links mt-3">
            <h6>Contacts</h6>
            <ul class="list-unstyled">
                <li>Phone: +39 333555222</li>
                <li>Email: photopedia@support.com</li>
                <li>
                    Community:
                    <a href="#">Forum</a>
                </li>
            </ul>
        </div>
        <div class="contacts-links mt-3">
            <h6 class="text-end">Social</h6>
            <ul class="list-unstyled d-flex justify-content-between align-content-center gap-2">
                <li>
                    <a href="">
                        <img src="/images/Social/facebook-logo.png" alt="facebook-logo" class="footer-logo" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/Social/instagram-logo.png" alt="instagram-logo" class="footer-logo" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/Social/pinterest-logo.png" alt="pinterest-logo" class="footer-logo" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/Social/flickr-logo.png" alt="flickr-logo.png" class="footer-logo" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
